.intro {
  max-width: 830px;
  padding-left: 148px;
  margin-bottom: 118px;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin-bottom: 40px;
  width: 100%;
}

.intro__description {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  max-width: 738px;
  margin-bottom: 10px;
}

.intro__description-author {
  max-width: 732px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  margin-bottom: 32px;
}

.intro__description-quote {
  max-width: 722px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 24px 0 24px;
    margin-bottom: 88px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__description {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__description-author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__description-quote {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto 38px;
    padding: 0 16px 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
  }

  .intro__description {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__description-author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__description-quote {
    font-size: 16px;
    line-height: 163%;
  }
}
